@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	background: rgb(60, 60, 60);
	height: auto;
	background: -moz-linear-gradient(
		322deg,
		rgba(60, 60, 60, 1) 8%,
		rgba(138, 109, 109, 0.9164040616246498) 62%,
		rgba(27, 20, 20, 0.9164040616246498) 85%
	);
	background: -webkit-linear-gradient(
		322deg,
		rgba(60, 60, 60, 1) 8%,
		rgba(138, 109, 109, 0.9164040616246498) 62%,
		rgba(27, 20, 20, 0.9164040616246498) 85%
	);
	background: linear-gradient(
		322deg,
		rgba(60, 60, 60, 1) 8%,
		rgba(138, 109, 109, 0.9164040616246498) 62%,
		rgba(27, 20, 20, 0.9164040616246498) 85%
	);
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
h1 {
	margin-bottom: 1rem;
}
h2 {
	margin-bottom: 0.5rem;
}

p {
	line-height: 1.5rem;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

@media (prefers-color-scheme: dark) {
	html {
	}
}
